[submodule "third-party/libstudxml"]
	path = third-party/libstudxml
	url = https://git.codesynthesis.com/libstudxml/libstudxml.git
[submodule "third-party/utfcpp"]
	path = third-party/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.13
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
