version: 2.1

# setup.sh replaces the following patterns:
# - PLACEHOLDER_IMAGE(*): replaced by the Docker image tagged name built for the .circleci/*.Dockerfile
# - HAS_COVERALLS: replaced by true / false depending on the availability of coveralls

parameters:
  run-build:
    type: boolean
    default: true

jobs:
  build-gcc:
    docker:
      - image: << parameters.image >>
    resource_class: medium
    parameters:
      tests:
        default: "ON"
        type: string
      benchmarks:
        default: "OFF"
        type: string
      micro-benchmarks:
        default: "OFF"
        type: string
      build-type:
        default: Release
        type: string
      coverage:
        default: "OFF"
        type: string
      cxx-ver:
        default: "11"
        type: string
      samples:
        default: "OFF"
        type: string
      static:
        default: "ON"
        type: string
      skip-internal-tests:
        default: "OFF"
        type: string
      warnings-as-errors:
        default: "ON"
        type: string
      image:
        default: PLACEHOLDER_IMAGE(gcc7_cmake3.9.5)
        type: string
      sanitize:
        default: "OFF"
        type: string
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: cmake -D XLNT_SANITIZE=<< parameters.sanitize >> -D XLNT_ALL_WARNINGS_AS_ERRORS=<< parameters.warnings-as-errors >> -D XLNT_CXX_LANG=<< parameters.cxx-ver >> -D STATIC=<< parameters.static >> -D BENCHMARKS=<< parameters.benchmarks >> -D XLNT_MICROBENCH_ENABLED=<< parameters.micro-benchmarks >> -D TESTS=<< parameters.tests >> -D XLNT_SKIP_INTERNAL_TESTS=<< parameters.skip-internal-tests >> -D SAMPLES=<< parameters.samples >> -D COVERAGE=<< parameters.coverage >> -D CMAKE_BUILD_TYPE=<< parameters.build-type >> -D XLNT_USE_LOCALE_COMMA_DECIMAL_SEPARATOR=ON -D XLNT_LOCALE_COMMA_DECIMAL_SEPARATOR=de_DE -D XLNT_USE_LOCALE_ARABIC_DECIMAL_SEPARATOR=ON -D XLNT_LOCALE_ARABIC_DECIMAL_SEPARATOR=ps_AF .
      - run: cmake --build . -- -j2
      - when:
          condition:
            equal: ["ON", << parameters.tests >>]
          steps:
            - run: |
                if [ "<< parameters.sanitize >>" = "ON" ]; then
                  export UBSAN_OPTIONS="suppressions=../ubsan.supp"
                fi
                ./tests/xlnt.test
      - when:
          condition:
            equal: ["ON", << parameters.samples >>]
          steps:
            - run: ./samples/sample-decrypt
            - run: ./samples/sample-img2xlsx ./samples/data/penguin.jpg img.xlsx
            - run: ./samples/sample-documentation
      - when:
          condition:
            equal: ["ON", << parameters.benchmarks >>]
          steps:
            - run: ./benchmarks/benchmark-styles
            - run: ./benchmarks/benchmark-writer
            - run: ./benchmarks/benchmark-spreadsheet-load
      - when:
          condition:
            equal: ["ON", << parameters.micro-benchmarks >>]
          steps:
            - run: ./benchmarks/microbenchmarks/xlnt_ubench
      - when:
          condition:
            equal: ["ON", << parameters.coverage >>]
          steps:
            - run: apt-get update -y
            - run: apt-get install -y --no-install-recommends perl libcapture-tiny-perl libdatetime-perl libtimedate-perl libjson-perl libperlio-gzip-perl libjson-xs-perl
            - run: git clone https://github.com/linux-test-project/lcov.git --depth 1 --branch v2.3.1
            - run: cd lcov && make -j2 install
            - run: lcov --directory . --capture --output-file coverage.info --base-directory . --no-external --include "$PWD/include/*" --include "$PWD/source/*" --branch-coverage --rc no_exception_branch=1 -j 2
            - run: curl -sfL https://coveralls.io/coveralls-linux.tar.gz | tar -xz && ./coveralls report coverage.info
            - run:
                name: Determine base branch
                command: |
                  if [ "`git branch --show-current`" = "master" ]; then
                    echo "export BASE_BRANCH=master^" >> "$BASH_ENV";
                  else
                    echo "export BASE_BRANCH=master" >> "$BASH_ENV";
                  fi
            - run: curl -sfL https://raw.githubusercontent.com/xlnt-community/xlnt-coverage/refs/heads/gh-pages/`git rev-parse $BASE_BRANCH`/coverage.info > coverage_master.info
            - run: lcov/scripts/gitdiff -b . $BASE_BRANCH HEAD > diff.txt
            - run: genhtml -j 2 -p $PWD --output-directory coverage/differential --baseline-file coverage_master.info --diff-file diff.txt --branch-coverage --ignore-errors inconsistent --header-title "differential code coverage report with master" -- coverage.info
            - run: genhtml -j 2 -p $PWD --output-directory coverage/review --baseline-file coverage_master.info --diff-file diff.txt --branch-coverage --ignore-errors inconsistent --header-title "review summary" --flat --select-script lcov/scripts/select.pm --select-script --tla --select-script UNC,UIC,LBC -- coverage.info
            - run: mv coverage.info coverage/
            - persist_to_workspace:
                root: .
                paths: coverage

  coverage-deploy:
    docker:
      - image: node:8.10.0
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: npm install -g --silent gh-pages@2.0.1
      - run: git config user.email "<>"
      - run: git config user.name "circleci"
      - add_ssh_keys:
          fingerprints:
            - "SHA256:VmE7CvosRKmkFPk2phSGqDr412LRvV1i4t9Oequ6KuI"
      - run: gh-pages --message "Update coverage" --dist coverage --dest `git rev-parse HEAD` --repo git@github.com:xlnt-community/xlnt-coverage.git
      - run: .circleci/post_coverage_comment.sh

  docs-build:
    docker:
      - image: PLACEHOLDER_IMAGE(gcc7_cmake3.9.5_doxygen)
    resource_class: small
    steps:
      - checkout
      - run: cmake -D LIBRARY=OFF -D DOCUMENTATION=ON .
      - run: cmake --build . -- -j1
      - persist_to_workspace:
          root: .
          paths: api-reference/html

  docs-deploy:
    docker:
      - image: node:8.10.0
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: npm install -g --silent gh-pages@2.0.1
      - run: git config user.email "<>"
      - run: git config user.name "circleci"
      - add_ssh_keys:
          fingerprints:
            - "SHA256:sMHnTqFtvDqOdCufcN2xbU5QjM9vAtAk5JDJl2E3Enk"
      - run: gh-pages --message "Update documentation" --dist api-reference/html

  build-msvc:
    machine:
      image: "windows-server-2019-vs2019:current"
    resource_class: "windows.medium"
    parameters:
      tests:
        default: "ON"
        type: string
      benchmarks:
        default: "OFF"
        type: string
      build-type:
        default: Release
        type: string
      samples:
        default: "OFF"
        type: string
      static:
        default: "ON"
        type: string
      skip-internal-tests:
        default: "OFF"
        type: string
      cmake-generator:
        default: "Visual Studio 16 2019"
        type: string
      sanitize:
        default: "OFF"
        type: string
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: choco install cmake -y
      - run: echo 'export PATH="$PATH:/c/Program Files/CMake/bin"' >> "$BASH_ENV"
      - when:
          condition:
            equal: ["Visual Studio 15 2017", << parameters.cmake-generator >>]
          steps:
            - run: choco install visualstudio2017buildtools -y
            - run: choco install visualstudio2017-workload-vctools -y
      - run: cmake -G "<< parameters.cmake-generator >>" -D XLNT_SANITIZE=<< parameters.sanitize >> -D CMAKE_GENERATOR_PLATFORM=x64 -D STATIC=<< parameters.static >> -D SAMPLES=<< parameters.samples >> -D BENCHMARKS=<< parameters.benchmarks >> -D TESTS=<< parameters.tests >> -D XLNT_SKIP_INTERNAL_TESTS=<< parameters.skip-internal-tests >> -D CMAKE_BUILD_TYPE=<< parameters.build-type >> .
      - run: cmake --build . -j4 --config << parameters.build-type >>
      - when:
          condition:
            equal: ["ON", << parameters.tests >>]
          steps:
            - run: |
                if [ "<< parameters.sanitize >>" = "ON" ]; then
                  export UBSAN_OPTIONS="suppressions=../ubsan.supp"
                fi
                ./tests/<< parameters.build-type >>/xlnt.test.exe
      - when:
          condition:
            equal: ["ON", << parameters.samples >>]
          steps:
            - run: ./samples/<< parameters.build-type >>/sample-decrypt
            - run: ./samples/<< parameters.build-type >>/sample-img2xlsx ./samples/data/penguin.jpg img.xlsx
            - run: ./samples/<< parameters.build-type >>/sample-documentation
      - when:
          condition:
            equal: ["ON", << parameters.benchmarks >>]
          steps:
            - run: ./benchmarks/<< parameters.build-type >>/benchmark-styles
            - run: ./benchmarks/<< parameters.build-type >>/benchmark-writer

  build-macos:
    macos:
      xcode: 26.1.0
    resource_class: "m4pro.medium"
    parameters:
      benchmarks:
        default: "OFF"
        type: string
      build-type:
        default: Release
        type: string
      samples:
        default: "OFF"
        type: string
      static:
        default: "ON"
        type: string
      sanitize:
        default: "OFF"
        type: string
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: brew install cmake
      - run: cmake -G "Xcode" -D XLNT_SANITIZE=<< parameters.sanitize >> -D STATIC=<< parameters.static >> -D SAMPLES=<< parameters.samples >> -D BENCHMARKS=<< parameters.benchmarks >> -D TESTS=ON -D CMAKE_BUILD_TYPE=<< parameters.build-type >> .
      - run: cmake --build . -j6 --config << parameters.build-type >>
      - run: |
          if [ "<< parameters.sanitize >>" = "ON" ]; then
            export UBSAN_OPTIONS="suppressions=../ubsan.supp"
          fi
          ./tests/<< parameters.build-type >>/xlnt.test
      - when:
          condition:
            equal: ["ON", << parameters.samples >>]
          steps:
            - run: ./samples/<< parameters.build-type >>/sample-decrypt
            - run: ./samples/<< parameters.build-type >>/sample-img2xlsx ./samples/data/penguin.jpg img.xlsx
            - run: ./samples/<< parameters.build-type >>/sample-documentation
      - when:
          condition:
            equal: ["ON", << parameters.benchmarks >>]
          steps:
            - run: ./benchmarks/<< parameters.build-type >>/benchmark-styles
            - run: ./benchmarks/<< parameters.build-type >>/benchmark-writer

workflows:
  build:
    when: << pipeline.parameters.run-build >>
    jobs:
      - build-gcc:
          name: tests-gcc7-cmake3.2
          cxx-ver: "11"
          image: PLACEHOLDER_IMAGE(gcc7_cmake3.2)
          matrix:
            alias: tests-gcc7-cmake3.2-all
            parameters:
              build-type:
                - Release
                - Debug
              static:
                - "ON"
                - "OFF"
              skip-internal-tests:
                - "ON"
                - "OFF"
            exclude:
              # Exclude {static: ON, skip-internal-tests: ON} subset
              - { static: "ON", skip-internal-tests: "ON", build-type: Debug }
              - { static: "ON", skip-internal-tests: "ON", build-type: Release }
          filters:
            branches:
              ignore: gh-pages

      - build-gcc:
          name: tests-gcc-cmake-latest
          image: PLACEHOLDER_IMAGE(gcc_cmake_latest)
          matrix:
            alias: tests-gcc-cmake-latest-all
            parameters:
              cxx-ver:
                - "11"
                - "23"
              build-type:
                - Release
                - Debug
              static:
                - "ON"
                - "OFF"
              skip-internal-tests:
                - "ON"
                - "OFF"
            exclude:
              # Exclude {static: ON, skip-internal-tests: ON} subset
              - {static: "ON", skip-internal-tests: "ON", cxx-ver: "11", build-type: Debug}
              - {static: "ON", skip-internal-tests: "ON", cxx-ver: "11", build-type: Release}
              - {static: "ON", skip-internal-tests: "ON", cxx-ver: "23", build-type: Debug}
              - {static: "ON", skip-internal-tests: "ON", cxx-ver: "23", build-type: Release}
          filters:
            branches:
              ignore: gh-pages

      - build-gcc:
          name: benchmarks-gcc
          image: PLACEHOLDER_IMAGE(gcc_cmake_latest)
          cxx-ver: "17"
          build-type: Release
          tests: "OFF"
          benchmarks: "ON"
          micro-benchmarks: "ON"
          filters:
            branches:
              ignore: gh-pages

      - build-gcc:
          name: tests-gcc-sanitize
          image: PLACEHOLDER_IMAGE(gcc_cmake_latest)
          matrix:
            alias: tests-gcc-sanitize-all
            parameters:
              cxx-ver:
                - "23"
              build-type:
                - Debug
              static:
                - "OFF"
              skip-internal-tests:
                - "OFF"
              sanitize:
                - "ON"
          filters:
            branches:
              ignore: gh-pages

      - build-msvc:
          name: tests-samples-msvc
          matrix:
            parameters:
              build-type:
                - Release
                - Debug
              static:
                - "ON"
                - "OFF"
              skip-internal-tests:
                - "ON"
                - "OFF"
            exclude:
              # Exclude {static: ON, skip-internal-tests: ON} subset
              - { static: "ON", skip-internal-tests: "ON", build-type: Debug }
              - { static: "ON", skip-internal-tests: "ON", build-type: Release }
          samples: "ON"
          requires:
            - tests-gcc7-cmake3.2-all # prevent building windows in case of gcc failures, as windows builds are more expensive
          filters:
            branches:
              ignore: gh-pages

      - build-msvc:
          name: tests-samples-msvc2017
          build-type: Release
          static: "ON"
          skip-internal-tests: "ON"
          samples: "ON"
          cmake-generator: "Visual Studio 15 2017"
          requires:
            - tests-gcc7-cmake3.2-all # prevent building windows in case of gcc failures, as windows builds are more expensive
          filters:
            branches:
              ignore: gh-pages

      - build-msvc:
          name: tests-msvc-sanitize
          build-type: Debug
          static: "OFF"
          skip-internal-tests: "OFF"
          sanitize: "ON"
          samples: "OFF"
          benchmarks: "OFF"
          requires:
            - tests-gcc-sanitize-all # prevent building windows in case of gcc failures, as windows builds are more expensive
          filters:
            branches:
              ignore: gh-pages

      - build-macos:
          name: tests-samples-macos
          matrix:
            parameters:
              build-type:
                - Release
                - Debug
              static:
                - "ON"
                - "OFF"
          samples: "ON"
          requires:
            - tests-gcc7-cmake3.2-all # prevent building macos in case of gcc failures, as macos builds are more expensive
          filters:
            branches:
              ignore: gh-pages

      - build-macos:
          name: tests-macos-sanitize
          build-type: Debug
          static: "OFF"
          samples: "OFF"
          sanitize: "ON"
          requires:
            - tests-gcc-sanitize-all # prevent building macos in case of gcc failures, as macos builds are more expensive
          filters:
            branches:
              ignore: gh-pages

      - docs-build:
          filters:
            branches:
              ignore: gh-pages
      - docs-deploy:
          requires:
            - docs-build
          filters:
            branches:
              only: master

  coveralls:
    when: HAS_COVERALLS
    jobs:
      - build-gcc:
          name: coverage-gcc
          image: PLACEHOLDER_IMAGE(gcc_cmake_latest)
          cxx-ver: "23"
          build-type: Debug
          coverage: "ON"
          filters:
            branches:
              ignore: gh-pages

      - coverage-deploy:
          requires:
            - coverage-gcc
          filters:
            branches:
              ignore: gh-pages
